<h1>Employees</h1>

<p *ngIf="!employees"><em>Loading...</em></p>

<div *ngIf="employees">
    <div>
        <a class="btn btn-primary" [routerLink]="['/employee']">Add New Employee</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email Address</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.isActive }}</td>
            </tr>
        </tbody>
    </table>
</div>